---
title: "Team"
layout: default
excerpt: "RT2 Lab: Team members"
sitemap: false
permalink: /team/
---

<h1>{{page.title}}</h1>
<!-- Principle Investigator -->
<h2><a id="staff"></a>Principle Investigator</h2>
<div class="card team-member-card">
    <div class="row mt-3">
    {% assign members = site.posts | where: 'category', 'Principle Investigator' | sort: 'date' %}
    {% for member in members %}
        <div class="team_graph">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="width:100%;height:85%"/>
            </a>
            <span style='width:100%;'>
            <center>{{ member.title }}</center>
            <center>{{ member.role }}</center>
            </span>
        </div>
     {% endfor %}
     </div>
</div>

<!-- Research staff -->

<h2><a id="staff"></a>Research staff</h2>
<div class="card team-member-card">
    <div class="row mt-3">
    {% assign members = site.posts | where: 'category', 'Research staff' | sort: 'date' %}
    {% for member in members %}
        <div class="team_graph">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="width:100%;height:85%"/>
            </a>
            <span style='width:100%;'>
            <center>{{ member.title }}</center>
            <center>{{ member.role }}</center>
            </span>
        </div>
     {% endfor %}
     </div>
</div>

<!-- Research assistant -->
<h2><a id="staff"></a>Research assistant</h2>
<div class="card team-member-card">
    <div class="row mt-3">
    {% assign members = site.posts | where: 'category', 'Research assistant' | sort: 'date' %}
    {% for member in members %}
        <div class="team_graph">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="width:100%;height:85%"/>
            </a>
            <span style='width:100%;'>
            <center>{{ member.title }}</center>
            <center>{{ member.role }}</center>
            </span>
        </div>
     {% endfor %}
     </div>
</div>

<!-- Ph.D. students -->

<h2><a id="student"></a>Ph.D. Students</h2>
<div class="card team-member-card">
    <div class="row mt-3">
        {% assign members = site.posts | where: 'category', 'phd student' | sort: 'date' %}
        {% for member in members %}
            <div class="team_graph">
                <a href={{member.url}}>
                    <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                        class="card-img img-responsive img-thumbnail"
                        style="width:100%;height:85%"/>
                </a>
                <span style='width:100%;'>
                    <center>{{ member.title }}</center>
                    <center>{{ member.role }}</center>
                </span>
            </div>
        {% endfor %}
     </div>
</div>

<!-- Master students -->

<h2><a id="student"></a>Master Students</h2>
<div class="card team-member-card">
    <div class="row mt-3">
        {% assign members = site.posts | where: 'category', 'master student' | sort: 'date' %}
        {% for member in members %}
            <div class="team_graph">
                <a href={{member.url}}>
                    <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                        class="card-img img-responsive img-thumbnail"
                        style="width:100%;height:85%"/>
                </a>
                <span style='width:100%;'>
                    <center>{{ member.title }}</center>
                    <center>{{ member.role }}</center>
                </span>
            </div>
        {% endfor %}
     </div>
</div>

