---
title: "Team"
layout: default
excerpt: "RT2 Lab: Team members"
sitemap: false
permalink: /team/
---

<!-- Principle Investigator -->
<h2 style="color:#66B3FF;"><a id="staff"></a>Principle Investigator</h2>
<div class="card team-member-card">
    <div class="row mt-3">
    {% assign members = site.posts | where: 'category', 'Principle Investigator' | sort: 'date' %}
    {% for member in members %}
        <div class="team_graph">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="width:100%;height:85%"/>
            </a>
            <span style='width:100%;'>
            <center><font style="font-size:20px;">{{ member.title }}</font></center>
            <center><font style="font-size:20px;">{{ member.role }}</font></center>
            </span>
        </div>
     {% endfor %}
     </div>
</div>
<div style="height: 20px;"></div>
<!-- Research staff -->

<h2 style="color:#66B3FF;"><a id="staff"></a>Research staff</h2>
<div class="card team-member-card">
    <div class="row mt-3">
    {% assign members = site.posts | where: 'category', 'Research staff' | sort: 'date' %}
    {% for member in members %}
        <div class="team_graph">
            <a href={{member.url}}>
                <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                    class="card-img img-responsive img-thumbnail"
                    style="width:100%;height:100%"/>
            </a>
            <span style='width:100%;'>
            <center><font style="font-size:20px;">{{ member.title }}</font></center>
            <center><font style="font-size:20px;">{{ member.role }}</font></center>
            </span>
        </div>
     {% endfor %}
     </div>
</div>

<div style="height: 20px;"></div>

<!-- Ph.D. students -->

<h2 style="color:#66B3FF;"><a id="student"></a>Ph.D. Students</h2>
<div class="card team-member-card">
    <div class="row mt-3">
        {% assign members = site.posts | where: 'category', 'phd student' | sort: 'date' %}
        {% for member in members %}
            <div class="team_graph">
                <a href={{member.url}}>
                    <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                        class="card-img img-responsive img-thumbnail"
                        style="width:100%;height:100%"/>
                </a>
                <span style='width:100%;'>
                <center><font style="font-size:20px;">{{ member.title }}</font></center>
                <center><font style="font-size:20px;">{{ member.role }}</font></center>
                </span>
            </div>
        {% endfor %}
     </div>
</div>
<div style="height: 20px;"></div>
<!-- Master students -->

<h2 style="color:#66B3FF;"><a id="student"></a>Master Students</h2>
<div class="card team-member-card">
    <div class="row mt-3">
        {% assign members = site.posts | where: 'category', 'master student' | sort: 'date' %}
        {% for member in members %}
            <div class="team_graph">
                <a href={{member.url}}>
                    <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                        class="card-img img-responsive img-thumbnail"
                        style="width:100%;height:100%"/>
                </a>
                <span style='width:100%;'>
                 <center><font style="font-size:20px;">{{ member.title }}</font></center>
                 <center><font style="font-size:20px;">{{ member.role }}</font></center>
                </span>
            </div>
        {% endfor %}
     </div>
</div>
<div style="height: 20px;"></div>
<!-- Lab alumni -->

<h2 style="color:#66B3FF;"><a id="student"></a>Lab Alumni</h2>
<div class="card team-member-card">
    <div class="row mt-3">
        {% assign members = site.posts | where: 'category', 'Lab Alumni' | sort: 'date' %}
        {% for member in members %}
            <div class="team_graph">
                <a href={{member.url}}>
                    <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ member.image }}"
                        class="card-img img-responsive img-thumbnail"
                        style="width:100%;height:100%"/>
                </a>
                <span style='width:100%;'>
                 <center><font style="font-size:20px;">{{ member.title }}</font></center>
                 <center><font style="font-size:20px;">{{ member.role }}</font></center>
                </span>
            </div>
        {% endfor %}
     </div>
</div>
<div style="height: 20px;"></div>
