---
title: "News"
layout: default
excerpt: "RT2 Lab at Institut Curie"
sitemap: false
permalink: /news.html
---
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/lib/bootstrap/css/bootstrap.min.css">
<script src="{{ site.url }}{{ site.baseurl }}/lib/jquery/jquery-1.11.0.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/lib/bootstrap/js/bootstrap.min.js"></script>
<h1>{{page.title}}</h1>

<ul class="list-unstyled">
    {% for article in site.data.news %}
        <li class="media">
            <div class="media-body">
            <h4 class="mt-0 mb-1">{{ article.title }}</h4>
            <p><small>{{ article.date }}</small></p>  
            {% if article.images %}    
                <div id="myCarousel" class="carousel slide" style="height:40%;">
                	<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover">
                        <!-- 轮播（Carousel）指标 -->
                        <ol class="carousel-indicators car">
                            {% assign a=0 %}
                            {% for num in article.images %}
                                {% if a==0 %}
                                    <li data-target="#myCarousel" data-slide-to="{{a}}" class="active"></li>
                                {% else %}
                                    <li data-target="#myCarousel" data-slide-to="{{a}}"></li>
                                {% endif %}
                                {% assign a=a+1 %}
                            {% endfor %}
                        </ol>   
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner" markdown="0">
                            {% assign b=0 %}
                            {% for num in article.images %}
                                {% if b==0%}
                                   <div class="item active">
                                        <img src="{{ site.url }}{{ site.baseurl }}/images/news/{{ num }}" alt="{{b}}">
                                   </div>
                                {% else %}
                                   <div class="item">
                                        <img src="{{ site.url }}{{ site.baseurl }}/images/news/{{ num }}" alt="{{b}}">
                                   </div>
                                {% endif %}
                                {% assign b=b+1 %}
                            {% endfor %}
                        </div>
                </div> 
            {% endif %}
            {{ article.content }}
            </div>
        </li>
    {% endfor %}
</ul>

