---
title: "Publications"
layout: default
excerpt: "RT2 Lab -- Publications."
sitemap: false
permalink: /publications/
---

<h2 style="color:#66B3FF; line-height:2;"><a id="staff"></a><b>Publications</b></h2>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">

    {% for publi in site.data.publications %}
        <div class="panel-heading">
            <span style="font-size:20px; font-weight:bold;">
                {% if publi.link %}
                    <a href="{{ publi.link }}" target="_blank" style="color:inherit;">{{ publi.title }}</a>
                {% else %}
                    {{ publi.title }}
                {% endif %}
            </span>
            <div style="font-size:16px; color:#555;">
                {% if publi.authors %}
                    <span>{{ publi.authors }}</span><br>
                {% endif %}
                {% if publi.journal %}
                    <span><i>{{ publi.journal }}</i></span>
                {% endif %}
                <!-- {% if publi.year %} -->
                    <!-- <span>({{ publi.year }})</span> -->
                <!-- {% endif %} -->
                {% if publi.doi %}
                    <br><a href="https://doi.org/{{ publi.doi }}" target="_blank">DOI: {{ publi.doi }}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
