<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<p>{{ site.title }}</p>
				<img class="img-fluid" src="{{ site.baseurl }}/images/logo/lab-logo.png"
				     style="max-width: 150px;">
			</div>

			<div class="col-sm-4">
				<p>Links</p>
				<ul class="list-unstyled">
					<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
					<li><a href="{{ site.url }}{{ site.baseurl }}/news">News</a></li>
					<li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
					<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
				</ul>
			</div>

			<div class="col-sm-4">
				<p>Contact</p>
				<p style="font-size:13px;">Email: <a href="languageagingbilingualism@gmail.com">languageagingbilingualism@gmail.com</a></p>
				<p style="font-size:13px;">Address: 中國澳門氹仔，大學大馬路，科研大樓N21地下,&nbsp Research Building N21 Ground Floor, University of Macau, &nbsp Avenida da Universidade, Taipa, Macau SAR</p>
			</div>
		</div>

		<div class="row mt-3">
			<p class="text-center">Copyright, 2023</p>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
