<header>
  <div class="navbar navbar-default navbar-fixed-top transparent-header" role="navigation">		
    <div class="container-fluid">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
	    </button>

      <a class="navbar-brand lab-logo" href="{{ site.url }}{{ site.baseurl }}/" style="font-size:30px;color:#66B3FF;">{{ site.title }}</a>
	  </div>
	  <div class="collapse navbar-collapse" id="navbar-collapse-1">
	    <ul class="nav navbar-nav navbar-right">
		  <li style="font-size:18px;"><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		  <li style="font-size:18px;"><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
		  <li style="font-size:18px;"><a href="{{ site.url }}{{ site.baseurl }}/news">News</a></li>
		  <li style="font-size:18px;"><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
		  <li style="font-size:18px;"><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		  <li style="font-size:18px;"><a href="{{ site.url }}{{ site.baseurl }}/for-participants-eng">For Participants</a></li>
		  <li style="font-size:18px;"><a href="{{ site.url }}{{ site.baseurl }}/Join-Us">Join Us</a></li> 
	    </ul>
	  </div>
    </div>
  </div>
</header>
<script>
// 监听滚动，切换header透明/实色
(function() {
  function updateHeaderTransparency() {
    var $navbar = document.querySelector('.navbar-fixed-top');
    var carousel = document.getElementById('myCarousel');
    if (!$navbar || !carousel) return;
    var carouselRect = carousel.getBoundingClientRect();
    // 只要header底部还在轮播区域内就透明，否则变实色
    if (carouselRect.bottom > 80) {
      $navbar.classList.add('transparent-header');
      $navbar.classList.remove('solid-header');
    } else {
      $navbar.classList.remove('transparent-header');
      $navbar.classList.add('solid-header');
    }
  }
  window.addEventListener('scroll', updateHeaderTransparency);
  window.addEventListener('resize', updateHeaderTransparency);
  document.addEventListener('DOMContentLoaded', function() {
    setTimeout(updateHeaderTransparency, 100);
  });
})();
</script>
