<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% if page.url == "/" or page.layout == "home" %}
      <div class="home-container-fluid">
      <div class="col-sm-12">
        <div class="row">
        {{ content }}
        </div>
      </div>
      </div>
    

    {% else %}
      <div class="container-fluid">
      <div class="col-sm-12">
        <div class="row">
        {{ content }}
        </div>
      </div>
      </div>
    {% endif %}
    <br>
    {% include footer.html %}
  </body>

</html>
