---
layout: default
---

<div class="col-sm-12">
    <div class=row>
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ site.baseurl }}/team">Team</a></li>
            <li class="breadcrumb-item text-capitalize"><a href="{{ site.baseurl }}/team#{{ page.category }}">{{ page.category }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
        </nav>
    </div>
    <div class="row text-center">
        <!-- Avatar -->
        <img src="{{ site.url }}{{ site.baseurl }}/images/team/{{ page.image }}"
             class="img-circle"
             style="max-width: 200px;"/>

        <!-- Name & Role -->
        <h1>{{ page.title }}</h1>
        <h3>{{ page.role }}</h3>

        <!-- Social -->
        <ul class="list-inline list-unstyled">
            {% if page.place %}
                <li>Place:&nbsp{{page.place}}</li><br>
            {% endif %}
            {% if page.phone %}
                <li>Number:&nbsp{{page.phone}}</li><br>
            {% endif %}
            {% if page.email %}
                <li>Email:&nbsp{{page.email}}</li><br>
            {% endif %}
        </ul>

        <!-- Social -->
        <ul class="list-inline list-unstyled">
            <!-- Twitter -->
            {% if page.social.twitter %}
                <li><a target="blank" href="{{page.social.twitter}}"><i class="fab fa-twitter"></i></a></li>
            {% endif %}
            <!-- Linkedin -->
            {% if page.social.linkedin %}
                <li><a target="blank" href="{{page.social.linkedin}}"><i class="fab fa-linkedin"></i></a></li>
            {% endif %}
            <!-- Github -->
            {% if page.social.github %}
                <li><a target="blank" href="{{page.social.github}}"><i class="fab fa-github"></i></a></li>
            {% endif %}
            <!-- Personal Website -->
            {% if page.social.website %}
                <li><a target="blank" href="{{page.social.website}}"><i class="fas fa-globe"></i></a></li>
            {% endif %}
            <!-- Google Scholar -->
            {% if page.social.google-scholar %}
                <li><a target="blank" href="{{page.social.google-scholar}}"><i class="fab fa-google"></i></a></li>
            {% endif %}
            <!-- Orcid -->
            {% if page.social.orcid %}
                <li><a target="blank" href="{{page.social.orcid}}"><i class="fab fa-orcid"></i></a></li>
            {% endif %}
            <!-- Research Gate -->
            {% if page.social.research-gate %}
                <li><a target="blank" href="{{page.social.research-gate}}"><i class="fab fa-researchgate"></i></a></li>
            {% endif %}
            <!-- scopus -->
            {% if page.social.scopus %}
                <li><a target="blank" href="{{page.social.scopus}}"><i class="fab fa-researchgate"></i></a></li>
            {% endif %}

        </ul>
    </div>

    <!-- Education -->
    {% if page.education %}
        <div class="row">
            <h3>Education</h3>
            <ul class="list-unstyled">
                {% for education in page.education %}
                    <li>{{education}}</li>
                    <br>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <!-- position -->
    {% if page.position %}
        <div class="row">
            <h3>Position</h3>
            <ul class="list-unstyled">
                {% for education in page.position %}
                    <li>{{education}}</li>
                    <br>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <!-- course taught -->
    {% if page.course %}
        <div class="row">
            <h3>Course taught</h3>
            <ul class="list-unstyled">
                {% for course in page.course %}
                    <li>{{course}}</li><br>
                {% endfor %}
            </ul>
        </div>
    {% endif %}    
    
    <!-- research interests -->
    {% if page.research_interests %}
        <div class="row">
            <h3>Research interests</h3>
            <ul class="list-unstyled">
                {% for interests in page.research_interests %}
                    <li>{{interests}}</li>
                    <br>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- introduction -->
    {% if page.introduction %}
        <div class="row">
            <h3>Introduction</h3>
            <ul class="list-unstyled">
                {% for introductions in page.introduction %}
                    <li>{{introductions}}</li>
                    <br>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <!-- grant -->
    {% if page.research_support %}
        <div class="row">
            <h3>Current Research Support</h3>
            <ul class="list-unstyled">
                {% for grant in page.research_support %}
                    <li>{{grant}}</li>
                    <br>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
